---
import Layout from "../../layouts/nopreflight.astro";
import Header from "../../components/Header.astro";
import { getEntry, render } from "astro:content";
// 1. Generate a new path for every collection entry
const { id } = Astro.params;
if (id === undefined) {
	return Astro.redirect("/404");
}
// 2. Query for the entry directly using the request slug
const post = await getEntry("blog", id);
// 3. Redirect if the entry does not exist
if (post === undefined) {
	return Astro.redirect("/404");
}
// 4. Render the entry to HTML in the template
const { Content } = await render(post);
---

<title>{post.data.title}</title>
<Layout>
	<Header />
	<div class="mx-16">
		<Content />
	</div>
</Layout>
