---
import Layout from "../../layouts/nopreflight.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<title>Blog</title>

<Layout>
	<div class="m-16">
		<ul>
			{
				posts.map((post) => (
					<li>
					<a href={`/blog/${post.id}`}>
						{post.data.pubDate.toLocaleDateString('en-US')}: {post.data.title}
					</a>
				</li>
			))
		}
	</ul>
</div>
</Layout>
