body {
	margin: 0;
	padding: 0;
	font-family: "JetBrainsMono";
}
@font-face {
	font-family: "JetBrainsMono";
	font-style: normal;
  font-weight: 500;
	src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}