<div class="relative flex flex-col grow">
	<div class="flex grow"></div>
	<div
		class="flex flex-wrap w-full bottom-0 bg-ctp-mantle p-8 pb-4 gap-2 justify-center"
	>
		<div class="flex-row flex w-full justify-center">
			<a href="https://github.com/caffeinatedope"
				><img
					alt="GitHub User's stars"
					src="https://img.shields.io/github/stars/CaffeinatedOpe?style=for-the-badge&logo=github"
				/></a
			>
			<a href="https://github.com/caffeinatedope"
				><img
					alt="GitHub followers"
					src="https://img.shields.io/github/followers/caffeinatedope?style=for-the-badge&logo=github"
				/></a
			>
			<a href="https://bsky.app/profile/caffeinatedope.bsky.social"
				><img
					alt="Bluesky followers"
					src="https://img.shields.io/bluesky/followers/caffeinatedope.bsky.social?style=for-the-badge&logo=bluesky"
				/></a
			>
			<a href="https://bsky.app/profile/caffeinatedope.bsky.social"
				><img
					alt="Bluesky posts"
					src="https://img.shields.io/bluesky/posts/caffeinatedope.bsky.social?style=for-the-badge&logo=bluesky"
				/></a
			>
			<a rel="me" href="https://mastodon.social/@CaffeinatedOpe"
				><img
					alt="Mastodon Follow"
					src="https://img.shields.io/mastodon/follow/115979050110951163?style=for-the-badge&logo=mastodon"
				/></a
			>
		</div>
		<div class="flex w-full justify-center">
			<a href="mailto:caffeinatedope@proton.me"> © CaffeinatedOpe 2026 </a>
		</div>
	</div>
	<style>
		@import "tailwindcss/preflight.css" layer(base);
	</style>
</div>
