<div class="relative flex flex-col grow">
	<div class="flex grow"/>
	<div class="abolute flex w-full bottom-0 bg-ctp-mantle p-4 justify-center">
		ugh
	</div>
</div>
<style>
	@import "tailwindcss/preflight.css" layer(base);
</style>
