---
import Layout from "../../layouts/nopreflight.astro";
import Header from "../../components/Header.astro";
import { marked } from 'marked';

import { getEntry, render } from "astro:content";
// 1. Generate a new path for every collection entry
const { id } = Astro.params;
if (id === undefined) {
	return Astro.redirect("/404");
}
// 2. Query for the entry directly using the request slug
const project = await getEntry("github", id);
// 3. Redirect if the entry does not exist
if (project === undefined) {
	return Astro.redirect("/404");
}
const response = await fetch(
	project.data.readMeUrl,
);
const markdown = await response.text();
const content = marked.parse(markdown);
---

<title>Projects</title>

<Layout>
	<Header />
	<a href={project.data.url}>Link to the GitHub</a>
	<article set:html={content} class="mx-4"/>
</Layout>
