---
import Layout from "../../layouts/nopreflight.astro";
import Header from "../../components/Header.astro";
import { marked } from 'marked';

const response = await fetch(
	"https://raw.githubusercontent.com/CaffeinatedOpe/infrastructure-as-code/refs/heads/master/README.md",
);
const markdown = await response.text();
const content = marked.parse(markdown);
---

<title>Projects</title>

<Layout>
	<Header />
	<a href="github.com/CaffeinatedOpe/infrastructure-as-code">Link to the GitHub</a>
	<article set:html={content} class="mx-16"/>
</Layout>
