---
import Layout from "../../layouts/default.astro";
import Header from "../../components/Header.astro";
import { getCollection } from "astro:content";

const projects = (await getCollection("github"));
---

<title>Projects</title>

<Layout>
	<Header />
	<div class="flex items-center justify-center my-4">
		<div class="text-4xl bg-ctp-mantle p-4 rounded-2xl">Projects</div>
	</div>
	{
					projects.map((project) => (
						<div class="flex flex-row flex-wrap items-center justify-center text-l p-4">
							<a
								href={`/projects/${project.id}`}
								class="p-4 flex flex-1 max-w-128 basis-full flex-col bg-ctp-mantle rounded-2xl items-center"
							>
								<div class="text-2xl">
									{project.data.title}
								</div>
								<div>{project.data.description}</div>
							</a>
						</div>
					))
				}
</Layout>
