---
import "../styles/global_nopreflight.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/pfp.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="bg-ctp-base text-ctp-text">
		<slot />
	</body>
</html>

<style>
	:global(a) {
		color: inherit;
	}
	:global(a:hover) {
		color: var(--catppuccin-color-mauve-400);
	}
</style>