---
import Layout from "../../layouts/default.astro";
import Header from "../../components/Header.astro";
---

<title>About Me</title>

<Layout>
	<Header />
	<h1>Page Under Construction</h1>
</Layout>
