---
import Layout from "../../layouts/default.astro";
import Header from "../../components/Header.astro";
---

<title>About Me</title>

<Layout>
	<Header />
	<div class="text-4xl">Page Under Construction</div>
</Layout>
